@model IEnumerable<NotePlot.Models.ParamValueType>

<table class="table" id="parameterValueTypes">
    <thead>
        <tr>
            <th>Код</th>
            <th>Наименование</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr np_value_type_id=@item.ParamValueTypeID>
                <td>@item.ParamValueTypeCode</td>
                <td class="ShortName">@item.ParamValueTypeShortName</td>
            </tr>
        }
    </tbody>
</table>
<div class="np-dialog-buttons">
    <button class="np_select ui-button ui-corner-all np-left np-btn-selected-row" disabled>Да</button>
    <button id="btnSelectCancel" class="ui-button ui-corner-all np-right">Отмена</button>
    <div class="np-clear"></div>
</div>
<script type="text/javascript">
    $.extend(true, $.fn.dataTable.defaults, { language: dtLanguage });
    $("#parameterValueTypes").DataTable({ rowReorder: true, "language": dtLanguage });
    $(function () {        
        // при переключении страниц + сортировка + фильтр сбрасываем selected
        $('#parameterValueTypes').on('page.dt order.dt search.dt', function (e) {
            $('#parameterValueTypes tbody tr.selected').removeClass('selected');
            np_disableButtons();
        });

        //$('#parameterUnits tbody tr').on('click', function () { -- работает не корректно при пагинации и сортировке
        $('#parameterValueTypes tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                np_disableButtons();
            }
            else {
                $('#parameterValueTypes tbody tr.selected').removeClass('selected');
                $(this).addClass('selected');
                np_enableButtons();
            }
        });

        //кнопка выбора типа значения
        $("button.np_select").on('click', function () {
            if ($('#parameterValueTypes tbody tr').hasClass('selected')) {
                var _ParameterValueTypeID = $('#parameterValueTypes tbody tr.selected').attr('np_value_type_id');
                var _ParameterValueTypeShortName = $('#parameterValueTypes tbody tr.selected td.ShortName').text();
                //alert(_ParameterValueTypeID+' '+_ParameterValueTypeShortName);
                if ((_ParameterValueTypeID != undefined) && (_ParameterValueTypeShortName != undefined)) {
                    $('#ParameterValueTypeID').val(_ParameterValueTypeID);
                    $('#ParameterValueTypeShortName').val(_ParameterValueTypeShortName);
                    // определяем контейнер диалога
                    var _md = $('#parameterValueTypes').parentsUntil('.dialog').parent('.dialog').first().attr('id');
                    //var _md = $('#parameterGroups').parents('.dialog').first().attr('id'); можно и так
                    if (_md != undefined) {
                        $('#' + _md).dialog("close");
                    }
                    //$('#masterDialog').dialog("close");
                }
            }
        });

        $('#btnSelectCancel').on('click', function (e) {
            e.preventDefault();
            // Находим диалог и закрываем
            var _md = $('#parameterValueTypes').parents('.dialog').first().attr('id');
            if (_md != undefined) {
                $('#' + _md).dialog("close");
            }
        });
    });
</script>

