html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.np_capitalized  {
    text-transform: capitalize;
}

input[type="text"]:not(.np-ui-input), input[type="password"]:not(.np-ui-input), textarea:not(.np-ui-input), select:not(.np-ui-input) {
    border-color: #CCC;
    border-radius: 0;
}

#np_master_page {
    position: relative;
    min-height: 100%;
}

.np_sidebar {
    position: absolute;
    left: 0;
    top: 0; /*46px;*/
    background: black;
    width: 220px;
    min-height: 100%;
}

.navContainer{
    padding-bottom: 20px;
}

/* Правила для подвала сайта */
.np_sidebar_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 8px;
}

.np_body {
    position: relative;
    margin-left: 220px;
}

.np_bar {
    background-color: black; /*#B0C4DE; LightSteelBlue*/
    overflow: hidden;
    min-width: 350px;
}

.np_bar a {
    color: #c9c9c9;
    text-decoration: none;
    padding-right: 20px
}

.np_bar .login, /*button.dropdown-main-menu,*/ a.login {
    background-color: #000;
    border: 1px solid #333;
    border-radius: 4px;
    color: #c9c9c9;
    display: inline-block;
    float: right;
    margin: 8px 15px 8px 10px;
}

a.login {
    padding: 4px 12px;
    line-height: 20px;
    font-size: 14px;
}

button.dropdown-main-menu {
    background-color: #000;
    border: 1px solid #333;
    border-radius: 4px;
    color: #c9c9c9;
    display: inline-block;
    margin-left: 3px;
    float: left;
    display: block;
    cursor: pointer;
    padding-top: 3px;
    font-size: 15px;
}

.np_bar .login:hover, button.dropdown-main-menu:hover, a.login:hover {
    color: #fff;
    border-color: #fff;
}

.np_content {
    /*border: 1px solid red;*/
    padding: 10px;
    overflow:auto;
}

@media only screen and (max-width: 1024px) {
    .np_sidebar {
        display: none;
    }
    .np_body {
        margin-left: 0;
    }
}

.np_sidebar .navigation {
    width: 220px;
    margin: 0 0 0;
    padding: 0px;
    list-style: none;
    display: block;
    float: left;
    position: relative;
}

.np_sidebar .navigation > li {
    position: relative;
    width: 220px;
    float: left;
    display: block;
}

.np_sidebar .navigation > li > a {
    /*font-size: 14px;*/
    color: #C9C9C9;
    display: block;
    float: left;
    width: 220px;
    line-height: 24px;
    margin-bottom: 5px;
    text-decoration: none;
}

.np_sidebar .navigation > li.active > a, .np_sidebar .navigation > li > a:hover {
    color: #FFFFFF;
}

.np_sidebar .navigation li ul > li a {
    /*font-size: 14px;*/
    color: #C5C5C5;
    display: block;
    float: left;
    width: 200px;
    line-height: 16px;
    text-decoration: none !important;
}

.no-href{
    cursor:default;
}

.np_sidebar .navigation li ul {
    width: 200px;
    padding-left: 20px;
    list-style: none;
    float: left;
    margin: 5px 0 10px 15px;
}

.np_sidebar .navigation li ul > li a.active, .np_sidebar .navigation li ul > li a:hover {
    color: #FFFFFF;
}

.body .navigation > li {
    margin-left: 3px;
    margin-bottom: 3px;
    display: block;
    float: left;
}

/*для числовых полей ввода*/
[np_dec_precision] {
    text-align: right
}	

/*loader...*/
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #ccc;
    /*background-color: transparent;*/
    opacity: .4;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
}

#loader span {
    display: inline-block;
    position: relative;
    top: 50%;
}
table.dataTable.no-footer {
    border-bottom: none;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 8px 10px 5px 10px;
    border-bottom: none;
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 1px 0 0 0;
}
.np_button {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 1px;
    text-decoration: none;
}
.dataTable .np_button {
    width: 26px;
    height: 26px;
}
.paginate_enabled_next:hover, .paginate_active, .paginate_active:hover, .paginate_button:hover, .paginate_enabled_previous:hover {
    color: #333;
    -moz-box-shadow: inset 0 1px 3px #AAA;
    -webkit-box-shadow: inset 0 1px 3px #AAA;
    box-shadow: inset 0 1px 3px #AAA;
}

.paginate_button, .paginate_disabled_previous, .paginate_disabled_next, .paginate_enabled_next, .paginate_active, .paginate_enabled_previous {
    float: left;
    border: 2px solid #FFF;
    line-height: 14px;
    font-size: 11px;
    color: #333;
    display: block;
    padding: 4px 5px;
    margin: 5px 5px 5px 0px;
    color: #333;
    text-shadow: 0px 1px 0px #FFF;
    background-color: #E0E0E0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
    .paginate_enabled_next, .paginate_enabled_previous, .paginate_active, .paginate_active:hover, .paginate_button, .paginate_button:hover, .paginate_enabled_next:hover, .paginate_enabled_previous:hover {
        cursor: pointer;
        text-decoration: none;
    }

   .paginate_button_disabled, .paginate_button_disabled:hover, .paginate_disabled_previous, .paginate_disabled_previous:hover, .paginate_disabled_next, .paginate_disabled_next:hover {
        color: #999;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none;
    }
.dataTables_wrapper {
    padding-top: 10px;
}
.dataTables_wrapper table {
    float: left;
}
.dataTables_length, .dataTables_filter {
    position: relative;
    padding: 5px;
}

    .dataTables_filter input[type='text'] {
        display: inline-block;
        width: auto;
        height: 26px;
        line-height: 14px;
    }

    .dataTables_length select {
        display: inline-block;
        font-size: 12px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        color: #4C4C4C;
    }


.table .np_button .icon,
.np_toolbar .np_button .icon {
    border: 1px solid #000;
    color: #000;
    height: 22px;
    width: 22px;
    margin: 1px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}
.np_toolbar .np_button .icon {
    border-color: #fff;
    color: #fff;
    margin: 7px;
}

.navigation .icon {
    float: left;
}
.navigation .name {
    margin-left: 25px;
}
.table .np_button .icon .fa {
    color: #000;
    font-size: 16px;
}
.np_toolbar .np_button .icon .fa {
    color: #fff;
}
.green {
    background: #68AF27 !important;
}

.red {
    background: #C22439 !important;
}
.blue {
    background: #009AD7 !important;
}
.table th {
    line-height: 30px;
    background: #E9E9E9;
    padding: 0px 10px;
    margin: 0px;
    font-size: 11px;
    color: #666;
}
.input-append, .input-prepend {
    display: block;
    margin-bottom: 0px;
    width: 100%;
}
.input-append .add-on, .input-prepend .add-on {
    color: #fff;
    border: 0px !important;
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    padding: 4px 9px 6px;
    margin-right: -3px;
    text-shadow: none;
    background: #009AD7;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    cursor: pointer;
}
.input-prepend input[type="text"] {
    border-color: #CCC;
    border-radius: 0;
    display: inline-block;
    margin-top: 1px;
}

#loader {
    display: block;
}

.np_content {
    display: none;
}

/*DataTable*/
.np_numeric {
    text-align: right;
}

.svg-inline--fa {
    vertical-align: 0;
}

.npNoJs {
    display: none;
}
