/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/WebTest1.runtimeconfig.json
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/NPTest1.deps.json
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/NPTest1.dll
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/NPTest1.pdb
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/NPTest1.runtimeconfig.dev.json
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/NPTest1.runtimeconfig.json
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/WebTest1.deps.json
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/WebTest1.dll
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/WebTest1.pdb
/Tests/NPTest1/NPTest1/bin/Debug/netcoreapp1.1/WebTest1.runtimeconfig.dev.json
/Tests/NPTest1/NPTest1/bin
/Tests/NPTest1/NPTest1/obj
