@model System.Data.DataSet
@using System.Data;

@{
    System.Globalization.CultureInfo ruRU = new System.Globalization.CultureInfo("ru-RU");
    int id = 0;

    string decSep = ruRU.NumberFormat.NumberDecimalSeparator;
    char[] toTrim = decSep.ToCharArray();    
}

<table id="monitorings" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            @foreach (DataColumn col in Model.Tables[0].Columns)
            {
                <th>@col.ColumnName</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            id = 0;
            <tr>               
                @foreach (DataColumn col in Model.Tables[0].Columns)
                {
                    if (id == 0){
                        <td>@row[col.ColumnName]</td>
                    }
                    else {
                        <td class="np_numeric">@row[col.ColumnName].ToString().TrimEnd('0').TrimEnd(toTrim)</td>
                    }
                    id += 1;
                }
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $("#monitorings").DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": dtLanguage // см. MasterPage.js
            , aaSorting: [[0, 'asc']] // см. http://vyachet.ru/sort-by-russian-date-datatable/
            ,aoColumnDefs: [
                {
                    sType: 'ru-date',
                    aTargets: [0]
                }
            ]
        });
    });
</script>