@model string
@*<a href="Login/LoginCard" class="openDialog login" np_dialog_title="Учетные данные">@Model</a>
<a href="Login/LoginOut" class="openDialog login" np_dialog_title="Выйти"></a>*@

<a id="LoginOut" href="/Login/LoginOut" class="login">Выход</a>
<a href="/Login/LoginCard" class="openDialog login" np_dialog_title="Учетная запись"><span class="np_capitalized">@Model</span></a>

