<button href="Login/LoginRegister" class="openDialog login" np_dialog_title="Регистрация">Регистрация</button>
<button href="Login/LoginInput" class="openDialog login" np_dialog_title = "Логин" np_dialog_width="320px">Войти</button>

@*@np_dialog_width="600px"  - задать ширину диалога*@
@*
@Html.ActionLink("Войти", "LoginInput", "Login", null, new { id = "InputLogin", @class = "openDialog", np_dialog_title = "Логин"})
@Html.ActionLink("Регистрация", "RegisterLogin", "Login", null, new { id = "registerLogin", @class = "openDialog", np_dialog_title = "Регистрация"})
*@
