<div>
<b>Регистрaция</b>
</br>
Чтобы получить доступ к функционалу сайта, необходимо пройти процедуру регистрации - кнопка <Регистрация> на верхней панели. 
В качестве пользователя необходимо указать адрес своей электронной почты, ввести пароль с подтверждением.
После успещной регистрации, на ваш электронный адрес будет выслана информация для подтверждения регистрации. 
После подтверждения регистрации, вы можете авторизоваться - кнопка <Войти> на верхней панели. После авторизации, вместо кнопки <Войти>,
отображается <имя пользователя> и на левой панели появляется меню функционала.
Если при авторизации вы забыли пароль, нажмите на кнопку <Напомнить пароль>, пароль будет выслан на вашу почту.
При желании, можно войти в учетную карточку пользователя, кнопка <<имя пользователя>, и ввести псевдоним, котрый будет отображаться на панели,
вместо адреса эл.почты, не забыв указать признак <Показывать псевдоним>.
 
</br>
<b>Справочники</b>
</br>
Для параметров измерений, используются справочники типов числовых значений, единиц измерений, групп единиц измерений и группы паарметров - 
пункты меню <Типы значений>,<Ед. измерения>, <Группы ед.измерений> и <Группы параметров> соответственно. Помимо предустановленных единиц измерений, групп измерений и групп параметров,
можно вводить свои - кнопка <Добавить> над списком указанных свойств в соответствующей странице. Предустановленные данные недоступны для редактирования и удаления. 
Справочник типов значений содержит шесть числовых типов, в зависимости от количества знаков после запятой.
</br>
<b>Параметры измерения</b>
</br>
При начальной авторизации, доступен минимальный список предустановленных параметров, которые не могут быть удалены или отредактированы.
Для создания своих параметров, на странице <Параметры измерения> доступна кнопка <+-Добавить>, над списком параметров.
Каждый параметр характеризуется такими свойствами как группа параметра, единица измерения( напр.,мм.рт.ст или штуки), тип параметра (целый или с определенной точностью после запятой). 
Параметры могут быть 
	- простые, например, температура или давление. При этом, для удобства ввода значений при измерениях, можно указать диапозон значений данного парамтра, миниальное и максимальное значения.
	- вычисляемые, значения которых складываются на основании других параметров, простых или расчетных, которые доствпны для выбора и должны быть добавлены список т.н. связанных параметров, 
	в нижней части карточки товара
	- итоговые или накопительные по всему монитору, аналогичны вычисляемым, но расчитываются не для текущего измерения, а для всего монитора, с учетом текущего измерения.	
</br>	
Пример: 
определены два простых параметра: 1 - приход денежных средств 2 - расход денежных средств
вычисляемый параметр : 3 - баланс (приход-расход) в момент регистрации параметров, в связанных параметрах для него будут параметры 1(операция "+") и 2(операция "-").
параметр монитора: 4 - остаток, в связанных параметрах для него будет параметр 4.	
</br>
Текущее значение итоговых параметров можно корректировать в любое время, особенно, в начале измерения, когда данный параметр может иметь конкретное значение, например, остаток денежных средств, 
как примере.
</br>
</br>    
<b>Монитор измерения</b>
</br>
</br>
<b>Аналитика</b>
</br>




</div>