<div>
<b>Регистрaция</b>
</br>
Чтобы получить доступ к функционалу сайта, необходимо пройти процедуру регистрации - кнопка <Регистрация> на верхней панели. 
В качестве пользователя необходимо указать адрес своей электронной почты, ввести пароль с подтверждением.
После успещной регистрации, на ваш электронный адрес будет выслана информация для подтверждения регистрации. 
После подтверждения регистрации, вы можете авторизоваться - кнопка <Войти> на верхней панели. После авторизации, вместо кнопки <Войти>,
отображается <имя пользователя> и на левой панели появляется меню функционала.
Если при авторизации вы забыли пароль, нажмите на кнопку <Напомнить пароль>, пароль будет выслан на вашу почту.
При желании, можно войти в учетную карточку пользователя, кнопка <<имя пользователя>, и ввести псевдоним, котрый будет отображаться на панели,
вместо адреса эл.почты, не забыв указать признак <Показывать псевдоним>.
 
</br>
<b>Справочники</b>
</br>
Для параметров измерений, используются справочники типов числовых значений, единиц измерений, групп единиц измерений и группы паарметров - 
пункты меню <Типы значений>,<Ед. измерения>, <Группы ед.измерений> и <Группы параметров> соответственно. Помимо предустановленных единиц измерений, групп измерений и групп параметров,
можно вводить свои - кнопка <Добавить> над списком указанных свойств в соответствующей странице. Предустановленные данные недоступны для редактирования и удаления. 
Справочник типов значений содержит шесть числовых типов, в зависимости от количества знаков после запятой.
</br>
<b>Параметры измерения</b>
</br>
Всем авторизованным пользователям доступен список предустановленных параметров - меню <Параметры измерения>, которые могут быть использованы для проведения измерений. 
Эти параметры не могут быть удалены или отредактированы. Для создания своих параметров, на странице <Параметры измерения> доступна кнопка <+-Добавить>, пр нажатии на которую, открывается
страница редактирования параметра. Каждый параметр характеризуется такими свойствами как группа параметра, единица измерения( например.,мм.рт.ст или штуки), тип параметра (целый или с определенной точностью после запятой),
а также тип параметра. Параметры могут быть трех типов:
	- простые, например, такие как температура окружающей среды или артериальное давление. При этом, для удобства ввода значений при измерениях, можно указать диапазон значений данного параметра, его миниальную и максимальную величины.
	- вычисляемые(или расчетные), значения которых рассчитываются на основании значений других параметров, простых или расчетных. которые должны быть добавлены в список, т.н. связанных параметров, в нижней части страницы 
	редактрования парметра - кнопка <Добавить параметр>.
	- итоговые или накопительные (параметры монитора), аналогичны вычисляемым, но рассчитываются не для текущего измерения, а для всего монитора, с учетом предыдущих измекрений.	
</br>
<i>	
Пример, монитор домашняя бухгалтерия:
определены два простых параметра: 1 - приход денежных средств 2 - расход денежных средств
вычисляемый параметр3 - баланс (приход-расход) на момент ввода параметров, список связанных параметров состоит из параметра1(операция со знаком "+") и параметра2(операция с знаком "-").
Параметр монитора: параметр4 - остаток, список связанных параметров для него содженржит параметр3 (с операцией со знаком "+").
Пусть остаток денежных средств(параметр 4) составлял 1000 рублей. На текущую дату был введен приход - 500 рублей (Параметр 1) и расход (200 рублей). После сохранения измерения, автоматически расчитается Параметр3 и состаdит: 500 - 200 = 300 рублей,
а остаток денежных средств, параметр4 станет равным 1000 + Параметр3 = 1300 рублям.
</br>
</i>
Текущее значение итоговых параметров можно корректировать в любое время, особенно, в начале измерения, когда параметр уже может иметь конкретное значение, например, остаток денежных средств, как в примере.
</br>
</br>    
<b>Монитор измерения</b>
</br>
</br>
<b>Аналитика</b>
</br>




</div>