<div>
<b>Регистрaция</b>
<br/>
Чтобы получить доступ к функционалу сайта, необходимо пройти процедуру регистрации - кнопка <Регистрация> на верхней панели. 
В качестве пользователя необходимо указать адрес своей электронной почты, ввести пароль с подтверждением.
После успещной регистрации, на ваш электронный адрес будет выслана информация для подтверждения регистрации. 
После подтверждения регистрации, вы можете авторизоваться - кнопка <Войти> на верхней панели. После авторизации, вместо кнопки <Войти>,
отображается <имя пользователя> и на левой панели появляется меню функционала.
Если при авторизации вы забыли пароль, нажмите на кнопку <Напомнить пароль>, пароль будет выслан на вашу почту.
При желании, можно войти в учетную карточку пользователя, кнопка <<имя пользователя>, и ввести псевдоним, котрый будет отображаться на панели,
вместо адреса эл.почты, не забыв, при этом, указать признак <Показывать псевдоним>.
 
<br/>
<b>Справочники</b>
<br/>
Для параметров измерений, используются справочники типов числовых значений, единиц измерений, групп единиц измерений и группы паарметров - 
пункты меню <Типы значений>,<Ед. измерения>, <Группы ед.измерений> и <Группы параметров> соответственно. Помимо предустановленных единиц измерений, групп измерений и групп параметров,
можно вводить свои - кнопка <Добавить> над списком указанных свойств в соответствующей странице. Предустановленные данные недоступны для редактирования и удаления. 
Справочник типов значений содержит шесть числовых типов, в зависимости от количества знаков после запятой.
<br/>
<b>Параметры измерения</b>
<br/>
Всем авторизованным пользователям доступен список предустановленных параметров - меню <Параметры измерения>, которые могут быть использованы для проведения измерений по этим параметрам.
Эти параметры не могут быть удалены или отредактированы. Для создания своих параметров, на странице <Параметры измерения> доступна кнопка <+-Добавить>, при нажатии на которую, открывается
страница редактирования параметра. Каждый параметр характеризуется такими свойствами как группа параметра, единица измерения( например.,мм.рт.ст или штуки), тип параметра (целый или с определенной точностью после запятой),
а также тип параметра. Параметры могут быть трех типов:
	- простые, например, такие как температура окружающей среды или артериальное давление. При этом, для удобства ввода значений при измерениях, можно указать диапазон значений данного параметра, его миниальную и максимальную величины.
	- вычисляемые(или расчетные), значения которых рассчитываются на основании значений других параметров, простых или расчетных. которые должны быть добавлены в список, т.н. связанных параметров, в нижней части страницы редактирования
	параметра - кнопка <Добавить параметр>. При выборе связанных параметров можно выбрать знак арифметической операции: "+","-","*","/".
	- итоговые или накопительные (параметры монитора), аналогичны вычисляемым, но рассчитываются не для текущего измерения, а для всего монитора, с учетом предыдущих измерений.
<br/>
<i>	
Пример, монитор домашняя бухгалтерия:
определены два простых параметра: 1 - приход денежных средств 2 - расход денежных средств
вычисляемый параметр3 - баланс (приход-расход) на момент ввода параметров, список связанных параметров состоит из параметра1(операция со знаком "+") и параметра2(операция с знаком "-").
Параметр монитора: параметр4 - остаток, список связанных параметров для него содженржит параметр3 (с операцией со знаком "+")</br>
Пусть остаток денежных средств(параметр 4) составлял 1000 рублей. На текущую дату был введен приход - 500 рублей (Параметр 1) и расход (200 рублей). После сохранения измерения, автоматически расчитается Параметр3 и состаdит: 500 - 200 = 300 рублей,
а остаток денежных средств, параметр4 станет равным 1000 + Параметр3 = 1300 рублям.
</i>
Текущее значение итоговых параметров можно корректировать в любое время, особенно, в начале измерения, когда параметр уже может иметь конкретное значение, например, остаток денежных средств, как в примере.
<br/>
<br/>    
<b>Пакеты параметров</b>
<br/>
Использование пакетов упрощает процесс добавления параметров(простых и расчетных) в монитор измерений(см. ниже), когда не нужно добавлять каждый параметр по отдельности - меню <Пакеты параметров>. Для создания нового пакета доступна доступна кнопка <+-Добавить>, при нажатии на которую, открывается
страница редактирования пакета. При вводе нового пакета необходимо выбрать группу из справочника групп параметров и пакетов (кнопка <Группа>), ввести краткое и полное наименование пакета, и добавить параметры (кнопка <Добавить параметр>).
При добавлении пакета в монитор, при создании измерения, парметры будут копироваться в соответствии с их позицией в списке параметров. Изменение позиции параметра в списке возможно с помощью "мыши" или с помощью кнопок <Вверх>/<Вниз>, при этом
перемещаемый параметр должен быть выделен(правая кнопка "мыши"). Для удаления из списка служит кнопка <Удалить параметр>. 
<br/>
<b>Монитор измерения</b>
<br/>
Монитор измерения - это набор(шаблон) параметров и пакетов, которые будут использоваться для регистрации значений параметров на конкретные дату и время.(см. регистрация измерений).Доступ к списку мониторов через меню <Мониторы измерений>.
Для создания нового монитора служит кнопка <+ - добавить>, при нажатии на которую, открывается страница редактирования монитора. Для каждого монитора вводится краткое и полное наименование, список параметров и пакетов (кнопки <Добавить паарметр>,<Добавить пакет>), которые будут использоваться 
для измерения, а также могут быть добавлены параметры монитора (см. итоговые/накопительные параметры монитора). Изменение позиций параметров в списках возможно с помощью "мыши" или с помощью кнопок <Вверх>/<Вниз>, при этом
перемещаемый параметр(пакет) должен быть выделен(правая кнопка "мыши"). Для удаления из списка служит кнопки <Удалить параметр...>.</br>
Для регистрации измерений, необходимо в списке доступных мониторов измерения нажать на кнопку <>. Открывается страница списка измерений по выбранному монитору. По-умолчанию, доступен режим отображения последних десяти измерений(закладка "Выбрать последние").Значение количества последних измерений может быть изменено.
Можно выбрать режим отображения измерений за период времени - закладка "За период". Для обновления списка(после изменения режима отображекния) - кнопка <Измерения>.</br>
Для создания нового измерения нужно нажать на кнопку <+>. После этого открывается страница редактирования текущего измерения, где фиксируется текущая дата и время(с точностью до минуты), а также все параметры монитора, включая параметры пакетов, которые входят в монитор. Для ввода значений доступны только простые параметры измерения.
Дополнительно можно ввести комментарий по текущему измерению.
<br/>
<br/>
<b>Аналитика</b>
<br/>
На основании проведенных измерений, можно получить список измерений по монитору за период,меню <Измерения по монитору>, в табличном виде, с возможностью экспорта данных в Excel или pdf. 
А также провести анализ изменения значений выбранных параметров за временной период - меню <Динамика изменений параметров>
</div>