<div>
<b>Регистрaция</b>
</br>
Чтобы получить доступ к функционалу сайта, необходимо пройти процедуру регистрации - кнопка <Регистрация>
на верхней панели.
В качестве пользователя необходимо указать адрес своей электронной почты, ввести пароль с подтверждением.
После успещной регистрации, на ваш электронный адрес будет выслана информация для подтверждения регистрации.
После подтверждения регистрации, вы можете авторизоваться - кнопка <Войти>
на верхней панели. После авторизации, вместо кнопки <Войти>
,
отображается <имя пользователя>
и на левой панели появляется меню функционала:

</br>
<b>Справочники</b>
</br>
Для параметров измерений, используются справочники типов числовых значений, единиц измерений и групп единиц измерений -
пункты меню <Типы значений>
,<Ед. измерения> и <Группы ед.измерений>
Помимо предустановленных ед. и групп измерений, можно вводить свои ед.измерения - кнопка <Добавить>
Предустановленные данные недоступны для редактирования и удаления. Справочник типов значений содержит шесть числовых типов, в зависимости от количества знаков после запятой.
Типы значений и ед.измерения используются для указания свойств параметров измерений.
</br>

<b>Параметры измерения</b>
</br>


<b>Монитор измерения</b>
</br>


<b>Аналитика</b>
</br>

</div>