<div>
<pre><b>В чем идея?</b></pre>
Пифагор говорил: «Все вещи можно представить в виде чисел». Действительно, многое в нашей жизни, мы оцениваем числовыми значениями.Даже наше настроение мы оцениваем в баллах, наши чувства и/или отношение к чему(или кому)-либо  - в лайках(их количестве).
Нередко интересны даже не сами значения, а их изменение с течением времени. Например, анализируя динамику атмосферного давления, можно найти корреляцию со своим самочувствием, которое в свою очередь может также выражаться в изменениях артериального давления, пульса,
или просто, в  оценке своего состояния, напрмер, по десятибальной шкале.
NotePlot - это возможность регистрации данных любой природы, в виде числовых параметров, а также  отслеживать
их изменение в течении заданного промежутка времени, на основании графического представления.
Чтобы иметь доступ к функционалу сайта, необходимо зарегистрироваться - кнопка <войти>
    на верхней панеле. После успешной регистрации,слева появляется меню, где доступны все действия по работе с параметрами измерения.
<pre><b>Как это работает?</b></pre>
Для любого измерения необходимо определить набор параметров, значения которых планируется регистрировать, т.н. М О Н И Т О Р.
При вводе значений по монитору, указывается дата(и время, с точностью до минуты) измерения и значения всех параметров на указанный момент времени. Сами параметры вводятся через соответствующий пункт меню. Каждый параметр характеризуется такими свойствами как группа параметра,
единица измерения(мм.рт.ст или ), тип параметра (целый или с точностью после запятой). Все эти свойства вынесены в соответствующие справочники, которые доступны из меню. Параметры могут быть простые, например, температура, вычисляемые, значения которых складываются на основании других
связанных параметров монитора(при этом связанные параметры и действия с ними должны быть указаны) в каждом измерении, а также, параметры монитора,т.е. которые будeт вычисляться, как это понятно из названия, для всего монитора, в режиме накопления, с учетом каждого измерения.
<i>
<pre>Пример:</pre>определены два простых параметра: 1 - приход денежных средств 2 - расход денежных средств
вычисляемый параметр : 3 - баланс (приход-расход) в момент регистрации параметров, в связанных параметрах для него будут параметры 1(операция "+") и 2(операция "-").
параметр монитора: 4 - остаток, в связанных параметрах для него будет параметр 4.
</i>
</div>