<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NotePlot</title>

    @*библиотекми*@
    <link href="~/lib/jquery-ui/themes/black-tie/jquery-ui.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jquery-ui/themes/black-tie/theme.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/lib/datatables.net-dt/css/jquery.dataTables.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables.net-buttons-dt/css/buttons.dataTables.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/lib/font-awesome/svg-with-js/js/fontawesome-all.js" asp-append-version="true"></script>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js" asp-append-version="true"></script>

    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @*Экспорт для таблицы*@
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/lib/pdfmake/build/pdfmake.min.js" asp-append-version="true"></script>
    <script src="~/lib/pdfmake/build/vfs_fonts.js" asp-append-version="true"></script>
    <script src="~/lib/jszip/dist/jszip.min.js" asp-append-version="true"></script> @*Excel*@

    @*Flot*@
    <!--[if IE]><script language="javascript" type="text/javascript" src="~/lib/flot/excanvas.min.js"></script><![endif]-->
    <script src="~/lib/flot/jquery.flot.min.js" asp-append-version="true"></script>
    <script src="~/lib/flot/jquery.flot.time.min.js" asp-append-version="true"></script>
    <script src="~/lib/flot/jquery.flot.symbol.min.js" asp-append-version="true"></script>

    @*Календарь*@
    <script src="~/lib/jquery-ui-ru/datepicker-ru.js" asp-append-version="true"></script>

    @*валидатор*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.ru.js" asp-append-version="true"></script>
    <script src="~/js/messages_ru.min.js" asp-append-version="true"></script>

    @*маска ввода для времени*@
    @*<script src="~/js/jquery.maskedinput.min.js" asp-append-version="true"></script>*@
    <script src="~/js/jquery.npTimeInput.js" asp-append-version="true"></script>


    @*наши плагины*@
    <script src="~/js/jquery.npDecimalInput.js" asp-append-version="true"></script>
    <script src="~/js/jquery.npSerialize.js" asp-append-version="true"></script>

    @* ресурсы сайта*@
    @*<link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/masterpage.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/noteplot.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/noteplot.js" asp-append-version="true"></script>
    <script src="~/js/masterpage.js" asp-append-version="true"></script>

    @RenderSection("styles", required: false)
</head>
<body>
    <div id="np_master_page" class="npNoJs">
        @Html.Partial("LoaderView")
        <div class="np_bar">
            <button class="dropdown-main-menu" type="button"><i class="fa fa-bars"></i></button>            
            @await Component.InvokeAsync("PanelLogin");
        </div>
        <div class="np_sidebar">
            <div class="navContainer np-clearfix">
                <button class="dropdown-main-menu" type="button"><i class="fa fa-bars"></i></button>
                <div class="np_nav_shift"></div>
                <ul class="navigation">
                    <li controller-name="home" action-name="index">
                        <a href="/home/index" class="button">
                            <div class="icon"><span class="fa fa-home"></span></div>
                            <div class="name">Главная</div>
                        </a>
                    </li>
                    <li controller-name="home" action-name="help">
                        <a href="/home/help" class="button">
                            <div class="icon"><span class="fa fa-question"></span></div>
                            <div class="name">Справка</div>
                        </a>
                    </li>
                </ul>
                <div id="menuMonitor">
                    @await Component.InvokeAsync("MenuMonitor");
                </div>
            </div>
            <div class="np_sidebar_footer">
                <span>ABOS &copy; 2018</span>
            </div>
        </div>
        <div class="np_body">
            <div class="np_content">
                @RenderBody()
            </div>
        </div>
        <script type="text/javascript">
            // Анализ поддержки JS
            $('#np_master_page').removeClass('npNoJs');
        </script>
        @RenderSection("scripts", required: false)
    </div>
    <div id="np_no_script">
        В вашем браузере не включена поддержка скриптов(JavaScript).
    </div>
    <script type="text/javascript">
        // Анализ поддержки JS
        $('#np_no_script').addClass('npNoJs');
    </script>
</body>
</html>
