<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>NotePlot</title>

    @*библиотекми*@
    <link href="~/lib/jquery-ui/themes/black-tie/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/themes/black-tie/theme.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-dt/css/jquery.dataTables.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    
    @*валидатор*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.ru.js"></script>
    <script src="~/js/messages_ru.min.js"></script>

    @*наши плагины*@
    <script src="~/js/jquery.npDecimalInput.js"></script>

    @* ресурсы сайта*@
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/masterpage.css" rel="stylesheet" />
    <script src="~/js/masterpage.js"></script>
    <script src="~/js/noteplot.js"></script>

    @RenderSection("styles", required: false)
</head>
<body>
    <div class="np_bar">
        <button class="dropdown-main-menu" type="button">|||</button>
        @await Component.InvokeAsync("PanelLogin");        
    </div>
    <div class="np_sidebar">
        <div class="top"></div>
        <div class="navContainer">
            <ul class="navigation">
                <li>
                    <a href="/home/index" class="button">
                        <div class="icon"><span class="ico-home"></span></div>
                        <div class="name">Главная...</div>
                    </a>
                </li>
            </ul>
            <div id="menuMonitor">
                <ul class="navigation">
                    <li>
                        <a href="#" class="button">
                            <div class="icon"><span class="ico-home"></span></div>
                            <div class="name">Монитор</div>
                        </a>
                        <ul>
                            <li><a href="#">Новый</a></li>
                            <li><a href="#">Открыть</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="button">
                            <div class="icon"><span class="ico-home"></span></div>
                            <div class="name">Справочники</div>
                        </a>
                        <ul>
                            <li><a href="#">Параметры измерения</a></li>
                            <li><a href="#">Группы параметров</a></li>
                            <li><a href="#">Единицы измерения</a></li>
                            <li>@Html.ActionLink("Группы ед.измерения", "Index", "UnitCategory")</li>
                            <li><a href="#">Типы значений</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="button">
                            <div class="icon"><span class="ico-home"></span></div>
                            <div class="name">Аналитика</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="np_body">
        <div class="np_content">
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
