
    @*<div id="loader" style="display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:transparent;text-align:center;">
        <span style="display:inline-block;height:100%;vertical-align:middle;"></span>
        <span style="display:inline-block;vertical-align:middle;">
            <img id="loading" src="~/images/loader.gif" />
        </span>
    </div>*@

@*<div id="loader"><span>Загрузка...</span></div>*@
<div id="loader">
        <span><img id="loading" src="~/images/loader.gif" /></span>        
</div>