@model string
@*<a href="Login/LoginCard" class="openDialog login" np_dialog_title="Учетные данные">@Model</a>
<a href="Login/LoginOut" class="openDialog login" np_dialog_title="Выйти"></a>*@


@Html.ActionLink("Выйти", "LoginOut", "Login", null, new { id = "LoginOut", @class = "login"})
@Html.ActionLink(@Model, "LoginCard", "Login", null, new { id = "LoginCard", @class = "openDialog login", np_dialog_title = "Учетная запись" })
