@model IEnumerable<NotePlot.Models.ParameterGroup>

<table class="table" id="parameterGroups">
    <thead>
        <tr>
                <th>
                    Группа
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr np_group_id =@item.ParameterGroupID np_login_id= @item.LoginID>
            <td>@item.ParameterGroupShortName</td>
        </tr>
}
    </tbody>
</table>
<button class="np_select">выбрать</button>
<script type="text/javascript">
    $("#parameterGroups").DataTable();
    // при переключении страниц + сортировка + фильтр сбрасываем selected
    $('#parameterGroups').on('page.dt order.dt search.dt', function () {
        $('#parameterGroups tbody tr.selected').removeClass('selected');
    });
    
    //$('#parameterGroups tbody tr').on('click', function () {
    $('#parameterGroups tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#parameterGroups tbody tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
    //кнопка выбора группы
    $("button.np_select").on('click', function () {                
        if ($('#parameterGroups tbody tr').hasClass('selected')) {        
            var _ParameterGroupID = $('#parameterGroups tbody tr.selected').attr('np_group_id');
            var _ParameterGroupShortName = $('#parameterGroups tbody tr.selected td').text();
            //alert(_ParameterGroupShortName); 
            if ((_ParameterGroupID != undefined) && (_ParameterGroupShortName != undefined)) {
                $('#ParameterGroupID').val(_ParameterGroupID);
                $('#ParameterGroupShortName').val(_ParameterGroupShortName);
                // определяем контейнер диалога
                var _md = $('#parameterGroups').parentsUntil('.dialog').parent('.dialog').first().attr('id');
                //var _md = $('#parameterGroups').parents('.dialog').first().attr('id'); можно и так
                if (_md != undefined) {
                    $('#'+_md).dialog("close");
                }
                //$('#masterDialog').dialog("close");
            }
        }
    })
</script>

