@*
@section styles{
    <style>
    </style>
}
*@
<form action="/Login/LoginInput" method="POST" id="loginInput">
    @Html.AntiForgeryToken()
    <div class="row-fluid">
        <div class="row-form">
                <input type="text" name="LoginName" placeholder="имя" />
        </div>
        <div class="row-form">
                <input type="text" name="Password" placeholder="пароль" autocomplete="off"/>
        </div>
        <div class="row-form">
                <input type="checkbox" name="RememberMe" /> <span>Запомнить</span>
                @*@Html.CheckBox("RememberMe", false)*@
        </div>
        <div class="row-form">
                <input class="btn" type="submit" value="Сохранить" />
                @*<button class="btn">Sign in <span class="icon-arrow-next icon-white"></span></button>*@
                <button class="btn1">Register <span class="icon-arrow-next icon-white"></span></button>
        </div>
    </div>
    <div class="errorForm">
        @*<span id="errorBoard" class="errorMessage"></span>*@
    </div>
</form>

<script type="text/javascript">
    var errmes;
    $(function () {
        $("#loginInput").submit(function (event) {
            event.preventDefault();
            // если не использовать хелпер Html.CheckBox, то установка checkbox обязательна
            $("input:checkbox").each(function () { // this - это не объект jQuery , а html-element
                this.value = (this.checked == true);
            });
            if ($("#loginInput input").valid()){
                $.ajax({
                    url: $("#loginInput").attr('action'),
                    data: $("#loginInput").serialize(),
                    type: 'POST',
                    cache: false,
                    async: false,
                    success: function (data) {
                        window.location.replace("/home/index"); // переоткрываем текущую страницу
                        //window.location = data.redirectUrl; // открываем текущую страницу
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("<span></span>").appendTo(".errorForm");
                        $('.errorForm span').html(jqXHR.responseText);
                        //$('#errorBoard').html(jqXHR.responseText);
                    }
                });
            };
        });

        //валидация
        $("#loginInput input").click(function () {  // очистка сообщений об ошибках
            $("label.error").remove(); // это элемент валидатора
            $(".errorForm span").remove();
        });
   
        $("#loginInput")
            .validate({
                rules: {
                    LoginName: {
                        required: true,
                        minlength: 2
                    },
                    Password: {
                        required: true,
                        minlength: 1
                    }
                }
            });
    });
</script>
