@model NotePlot.Models.LoginRegistration

<div id="loginRegistrationPanel" class="np-fVrtLayout">
    <form action="/Login/RegisterLogin" method="POST" id="loginRegistration">
        @Html.AntiForgeryToken()
            <p>
                <label for="Email">Логин(email)</label>
                <input class="ui-corner-all np-ui-input" type="text" id="Email" name="Email" maxlength=32/>
            </p>
            <p>
                <label for="Password">Пароль</label>
                <input class="ui-corner-all np-ui-input" type="password" id="Password" name="Password" maxlength=32/>
            </p>
            <p>
                <label for="ConfirmPassword">Повторите пароль</label>
                <input class="ui-corner-all np-ui-input" type="password" id="ConfirmPassword" name="ConfirmPassword" maxlength=32/>
            </p>
            <p>
                <label for="Captcha">Введите число с картинки</label>
                <input class="ui-corner-all np-ui-input" type="text" id="Captcha" name="Captcha"  maxlength=4/>
            </p>
            <img src="@Url.Action("Captcha", "Login")" alt="captcha" />
    </form>
    <div class="np-buttons">
        <button id="btnOk" class="np-left ui-button ui-corner-all">Да</button>
        <button id="btnCancel" class="np-right ui-button ui-corner-all">Отмена</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#btnOk').on('click', function (e) {
            e.preventDefault();
            np_AjaxFormInputClick(); // очистка ошибок
            if ($('#loginRegistration').valid())
            $('#loginRegistration').submit();
        });

        $('#btnCancel').on('click', function (e) {
            e.preventDefault();
            // Находим диалог и закрываем
            var _md = $('#loginRegistrationPanel').parents('.dialog').first().attr('id');
            if (_md != undefined) {
                $('#' + _md).dialog("close");
            }
        });


        // подписка на submit
        //Пример передачи обработчиков через методы класса
        var adata = new Object();
        adata.onSuccess = function (mes) {
            //location.reload();
            // удаляем диалог
            if ($('#masterDialog').length > 0)
                $('#masterDialog').dialog("close");
            // сообщение
            np_ShowMessage(mes, "Внимание!");
        }
        $("#loginRegistration").bind('submit', adata, np_AjaxFormSubmit);
        // очистка сообщений об ошибках по клику
        $("#loginRegistration").bind('click', np_AjaxFormInputClick);
        $("#loginRegistration")
            .validate({
                rules: {
                    Email: {
                        required: true,
                        email: true,
                        minlength: 2
                    },
                    Password: {
                        required: true,
                        minlength: 2
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 2
                    },
                    Captcha: {
                        required: true,
                        minlength: 4,
                        maxlength: 4
                    }
                },
                messages: {
                    Email: {
                        required: "поле не заполнено или заполнено не верно",
                        email: "должен быть введен ваш электронный адрес",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    Password: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    ConfirmPassword: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    Captcha: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть 4 символа",
                        maxlength: "в поле должно быть 4 символа",
                    }
                }
            });
    });
</script>
