@model NotePlot.Models.LoginRegistration

<form action="/Login/RegisterLogin" method="POST" id="loginRegistration">
    @Html.AntiForgeryToken()
    <div class="input_card">
        <div>
            <div>
                <label for="Email" class="np_label">Логин(email)</label>
            </div>
            <div>
                <input type="email" id="Email" name="Email" />
            </div>
        </div>
        <div>
            <label for="Password" class="np_label">Пароль</label>
            <div>
                <input type="password" id="Password" name="Password" />
            </div>
        </div>
        <div>
            <label for="ConfirmPassword" class="np_label">Повторите пароль</label>
            <div>
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
            </div>
        </div>
        <div>
            <label for="Captcha" class="np_label">Введите число с картинки</label>
            <div>
                <input type="text" id="Captcha" name="Captcha" />
            </div>
        </div>
        <img src="@Url.Action("Captcha", "Login")" alt="captcha" />
        <div>
            <div>
                <input type="submit" value="OK" class="btn" />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        // подписка на submit        
        //Пример передачи обработчиков через методы класса
        var adata = new Object();
        adata.onSuccess = function (mes) {
            //location.reload();
            // удаляем диалог
            if ($('#masterDialog').length > 0)
                $('#masterDialog').dialog("close");
            // сообщение
            np_ShowMessage(mes, "Внимание!");
        }
        $("#loginRegistration").bind('submit', adata, np_AjaxFormSubmit);
        // очистка сообщений об ошибках по клику
        $("#loginRegistration").bind('click', np_AjaxFormInputClick);
        $("#loginRegistration")
            .validate({
                rules: {
                    Email: {
                        required: true,
                        email : true,
                        minlength: 2
                    },
                    Password: {
                        required: true,
                        minlength: 2
                    },
                   ConfirmPassword: {
                        required: true,
                        minlength: 2
                    },
                   Captcha: {
                       required: true,
                       minlength: 4,
                       maxlength: 4                        
                   }
                },
                messages: {
                    Email: {
                        required: "поле не заполнено или заполнено не верно",
                        email: "должен быть введен ваш электронный адрес",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    Password: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    ConfirmPassword: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть минимум 2 символа",
                    },
                    Captcha: {
                        required: "поле не заполнено или заполнено не верно",
                        minlength: "в поле должно быть 4 символа",
                        maxlength: "в поле должно быть 4 символа",
                    }
                }
            });
    });
</script>
