@model IEnumerable<NotePlot.Models.ParameterRelation>
<button id="np_relation_add">Добавить параметр</button>
<button id="np_relation_add">Удалить параметр</button> 
<table class="parameterRelations">
    <thead>
        <tr>
            <th>Параметр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td >@item. ParameterShortName</td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $("#parameterRelations").DataTable({ rowReorder: true });
    $('button#np_relation_add').on('click', function (e) {
        e.preventDefault();
    });
    $('button#np_relation_delete').on('click', function (e) {
        e.preventDefault();
    });
</script>
