@model IEnumerable<NotePlot.Models.Unit>

<table class="table" id="parameterUnits">
    <thead>
        <tr>
                <th>
                    Группа
                </th>
                <th>
                    Краткое название
                </th>
                <th>
                    Полное название
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr np_unit_id =@item.UnitID np_login_id= @item.LoginID>
            <td>
                @item.UnitGroupShortName
            </td>
            <td class="ShortName">
                @item.UnitShortName
            </td>
            <td>
                @item.UnitName
            </td>
        </tr>
}
    </tbody>
</table>
<button class="np_select">выбрать</button>
<script type="text/javascript">
    $("#parameterUnits").DataTable();
    $('#parameterUnits tbody tr').on('click',function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#parameterUnits tbody tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    });
    //кнопка выбора ед.изм
    $("button.np_select").on('click', function () {
        if ($('#parameterUnits tbody tr').hasClass('selected')) {
            var _ParameterUnitID = $('#parameterUnits tbody tr.selected').attr('np_unit_id');
            var _ParameterUnitShortName = $('#parameterUnits tbody tr.selected td.ShortName').text();
            if ((_ParameterUnitID != undefined) && (_ParameterUnitShortName != undefined)) {
                $('#ParameterUnitID').val(_ParameterUnitID);
                $('#ParameterUnitShortName').val(_ParameterUnitShortName);
                // определяем контейнер диалога
                var _md = $('#parameterUnits').parentsUntil('.dialog').parent('.dialog').first().attr('id');
                //var _md = $('#parameterGroups').parents('.dialog').first().attr('id'); можно и так
                if (_md != undefined) {
                    $('#'+_md).dialog("close");
                }
                //$('#masterDialog').dialog("close");
            }
        }
    })
</script>

